<!DOCTYPE html>
<html lang="en">

<head>
    <meta="UTF-8">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/for_form.css">
</head>

<body>
    <div class="head">
        <img src="../static/images/logo.png" alt="">
    </div>
    <div class="title">
        <h1>Showcase Time</h1>
        <p>Let's kickstart this event with a spark of portfolio. Share your journey, your best projects—let's
            spread their brilliance far and wide.</p>
    </div>
    <div class="portfolio">
        <form action="">
            <h1>Submit your portfolio to showcase</h1>
            <div class="sec">
                <div class="name1">
                    <label for="">First Name </label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="name1">
                    <label for="">Last Name</label>
                    <input type="text" placeholder="Last Name">
                </div>
            </div>
            <div class="info">
                <label for="">Bio</label>
                <input type="text" placeholder="Examples: Software Enginner, Graphic Designer, Vocal Artist...">
            </div>
            <div class="info">
                <label for="">Description</label>
                <input type="text"
                    placeholder="Describe yourself; example: I'm youcef ahmed, I'm a software enginner from Algeria...">
            </div>
            <div class="info">
                <label for="">Phone Number</label>
                <input type="text" placeholder="Phone Number">
            </div>
            <div class="info">
                <label for="">Email</label>
                <input type="text" placeholder="Email">

            </div>
            <div class="cat">
                <label for="">Select the category that best fits the Freelancer</label>

                <input list="category" name="category">

                <datalist id="category">
                    <option value="Development  & IT">
                    <option value="Design"></option>
                    <option value="Writting"></option>
                    <option value="Marketing">
                    <option value="Translation">
                    <option value="Legal">
                    <option value="Photography">
                    <option value="Data Science">
                    <option value="Engineering & Architecture">
                </datalist>
            </div>
            <div class="educProject">
                <h2>Project</h2>
                <input type="text" placeholder="No project have been added.">
                <button type="button">Add Project</button>
            </div>
            <div class="educProject">
                <h2>Education</h2>
                <input type="text" placeholder="No Education have been added">
                <button type="button">Add Education</button>
            </div>
        </form>
    </div>
</body>

</html>