<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/for_homepage1_2.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="first">
        <div class="head">
            <img src="../static/images/logo.png" alt="">
            <a href="#">How it Works</a>
        </div>
        <div class="links">
            <a href="Login.html">Log In</a>
            <a href="SignUp.html">Sign Up</a>
            <a href="form.html">Submit to showcase</a>
        </div>
    </div>
    <div class="page">
        <h1>Freelancer Showcase</h1>
        <p>Explore the best creative freelancers from the world's
            emerging showcasing platform.</p>
        <div class="search">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input type="search" id="search" placeholder="Find your target service from our best freelancers">
            <button type="button" id="but">Search</button>

        </div>
    </div>
    <div class="categories">
        <a href="#">All</a>
        <a href="#">Development & IT</a>
        <a href="#">Design</a>
        <a href="#">Writting</a>
        <a href="#">Marketing</a>
        <a href="#">Translation</a>
        <a href="#">Legal</a>
        <a href="#">Photography</a>
        <a href="#">Data Science</a>
        <a href="#">Engineering&Architecture</a>
    </div>

    <div class="freelencers">
        <script src="main.js"></script>
    </div>
    <footer>
        <div class="foot">
            <div class="cont">
                <a href="#">About Us</a>
                <a href="#">Contact us</a>
                <a href="#">How it works</a>
            </div>
            <div class="cont">
                <a href="#">Terms</a>
                <a href="#">Privacy policy</a>
            </div>
            <div class="cont">
                <a href="#">Help and Support</a>
            </div>
            <div class="cont">
                <a href="#"><i class="fa-brands fa-x-twitter" style="background-color : black"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in "></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f "
                        style="background-color: rgba(36, 109, 234, 0.733);"></i></a>
                <a href="#"> <i class="fa-brands fa-github " style="background-color : black"></i></a>

            </div>
        </div>
        <div class="cont1">
            <img src="../static/images/logo.png">
            <p>&copy; All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>