{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/for_homepage1_2.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="first">
        <div class="head">
            <img src="../static/images/logo.png" alt="">
            <a href="#">How it Works</a>
        </div>
        <style>
            .hello-msg {
                font-size: 18px;
                color: brown;
                margin-right: 20px;
            }
        </style>
        {% if user.is_authenticated %}
        <span class="hello-msg">HELLO , {{ user.username }}</span>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <div class="links">
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign Up</a>

        </div>
        {% endif %}

    </div>
    <div class="page">
        <h1>Showcase Station</h1>
        <p>Explore the best creative freelancers from the world's
            emerging showcasing platform.</p>
        <div class="search">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input type="search" id="search" placeholder="Find your target service from our best freelancers">
            <button type="button" id="but">Search</button>

        </div>
    </div>

    <style>
        .categories a {
            font-size: 0.8em;
            margin-right: 10px;
            /* Adjust as needed */
            /* Adjust as needed */
        }
    </style>
    <div class="categories">
        <a href="{% url 'homepage' %}">All</a>
        <a href="{% url 'homepage_with_category' 'Development and IT' %}">Development and IT</a>
        <a href="{% url 'homepage_with_category' 'Design and Creative' %}">Design and Creative</a>
        <a href="{% url 'homepage_with_category' 'Writing and Copywriting' %}">Writing and Copywriting</a>
        <a href="{% url 'homepage_with_category' 'Sales and Marketing' %}">Sales and Marketing</a>
        <a href="{% url 'homepage_with_category' 'Translation & caption' %}">Translation & caption</a>
        <a href="{% url 'homepage_with_category' 'Legal' %}">Legal</a>
        <a href="{% url 'homepage_with_category' 'Engineering and Architecture' %}">Engineering and Architecture</a>
        <a href="{% url 'homepage_with_category' 'Data Science and Analysis' %}">Data Science and Analysis</a>
        <a href="{% url 'homepage_with_category' 'Photography' %}">Photography</a>
        <a href="{% url 'homepage_with_category' 'Teaching and Tutoring' %}">Teaching and Tutoring</a>
    </div>

    {% for f in freelancers %}
    <div class="all">
        {% if f.photo_id %}
        <img src="{{ f.photo_id.url }}" alt="">
        {% endif %}
        <div class="description">
            {% if f.firstname and f.lastname %}
            <h1>{{ f.firstname }} {{ f.lastname }}</h1>
            {% endif %}
            {% if f.bio %}
            <p>{{ f.bio }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}


    <footer>
        <div class="foot">
            <div class="cont">
                <a href="#">About Us</a>
                <a href="#">Contact us</a>
                <a href="#">How it works</a>
            </div>
            <div class="cont">
                <a href="#">Terms</a>
                <a href="#">Privacy policy</a>
            </div>
            <div class="cont">
                <a href="#">Help and Support</a>
            </div>
            <div class="cont">
                <a href="#"><i class="fa-brands fa-x-twitter" style="background-color : black"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in "></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f "
                        style="background-color: rgba(36, 109, 234, 0.733);"></i></a>
                <a href="#"> <i class="fa-brands fa-github " style="background-color : black"></i></a>

            </div>
        </div>
        <div class="cont1">
            <img src="../static/images/logo.png">
            <p>&copy; All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>